*{
    box-sizing: border-box;
}
body {
    margin:0;
}
.topo {
    text-align: center;
    background-color: #000;
    padding: 20px;
    border: 3px solid #00ED64;
}
.coluna-50 {
    width:50%;
    float:left;
    background-color: #000;
    color:#00ED64;
    padding:15px 15px;
    text-align: center;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
}
.coluna-50l {
    width:50vw;
    float:left;
    background-color: #000;
    color:#00ED64;
    padding:15px 15px;
    text-align: center;
    height:250px;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
    border-left:3px solid #00ED64;
}
.coluna-50r {
    width:50vw;
    float:left;
    background-color: #000;
    color:#00ED64;
    padding:15px 15px;
    text-align: center;
    height:250px;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
    border-right: 3px solid #00ED64;
}
hr {
    border-color:#00ED64;
}
.topo h1 {
    color: #00ED64 ;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.topo p {
    color:#00ED64;

    font-family: 'Roboto', sans-serif;
}
.menu {
    overflow: hidden;
    border:3px solid #00ED64;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.menu a {
    padding: 14px 16px;
    float:left;
    display:block;
    color:#00ED64;
}
.full {
    background-color: #000;
    color:#00ED64;
    border:3px solid #00ED64;
    padding:15px;
    float:left;
    width:100%;
    heigth:500px;
}
.coluna-50r h2 {
    color:#00ED64;
}
.coluna-50r p {
    color:#00ED64;
}
.coluna-50r a {
    color:#00ED64;
}
li {
    color:#00ED64;
}
.coluna-50l img {
    width:47vw;
}
#ad {
     font-size:75px;
}
