* {
    box-sizing: border-box;
}

.bodyhis {
    margin: 0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: #000;
}
.topo {
    text-align: center;
    padding: 20px;
    border: 3px solid #00ED64;
    background-color: #000;
}
.topo h1 {
    color: #00ED64;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}
#topohis {
    text-align: center;
    background-image: url(neader.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    border: 3px solid #00ED64;
}
#topohis h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;

}

.coluna-50 {
    width: 50%;
    float: left;
    background-color: #000;
    color: #00ED64;
    padding: 15px 15px;
    text-align: center;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
}

.coluna-50l {
    width: 50%;
    float: left;
    background-color: #000;
    color: #00ED64;
    padding: 15px 15px;
    text-align: center;
    height: 250px;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
    border-left: 3px solid #00ED64;
}

.coluna-50r {
    width: 50%;
    float: left;
    background-color: #000;
    color: #00ED64;
    padding: 15px 15px;
    text-align: center;
    height: 250px;
    overflow: hidden;
    border-top: 3px solid #00ED64;
    border-bottom: 3px solid #00ED64;
    border-right: 3px solid #00ED64;
}

hr {
    border-color: #00ED64;
}


.topo p {
    color: #00ED64;

    font-family: 'Roboto', sans-serif;
}

.menu {
    overflow: hidden;
    border: 3px solid #00ED64;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.menu a {
    padding: 14px 16px;
    float: left;
    display: block;
    color: #00ED64;
    text-decoration: none;
    transition: 1s;
}

.full {
    background-color: #000;
    color: #00ED64;
    border: 3px solid #00ED64;
    padding: 15px;
    float: left;
    width: 100%;
    height: 100%;
}

.coluna-50r h2 {
    color: #00ED64;
}

.coluna-50r p {
    color: #00ED64;
}

.coluna-50r a {
    color: #00ED64;
}

li {
    color: #00ED64;
}

.coluna-50l img {
    height: 96%;
}

#ad {
    font-size: 35vh;
}

.menu a:hover {
    background-color: #00ED64;
    color: black;
    transition: 1s;

}

.btnUm {
    background-color: #000;
    color: #00ED64;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00ED64;
    transition: 2s;
}

.btnUm:hover {
    background-color: #00ED64;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    transition: 2s;
}
@media (max-width:600px;) {
    p { font-size:10px;}
}
